# Pandas

Pandas est une librairie (bibliothèque) Python qui permet de faire de l'analyse de données de manière efficace.  
documentation Pandas ici : https://pandas.pydata.org/docs


##### Instructeur: Joan Mouba, Dr.-Ing. en Informatique
L'utilisation de ce fichier est sous la license GPL.
Vous pouvez utiliser, modifier et redistribuer librement.

Nous serons reconnaissant si vous mentionnez l'auteur et/ou la référence source du Notebook:
[https://bit.ly/3vezc7y](https://colab.research.google.com/drive/1lq8oA1MOk78nHjegnM8CycbdoyXi7Mrt?usp=sharing)

LinkedIn: [![LinkedIn](https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&style=social&logo=linkedin&logoColor=white)](https://www.linkedin.com/in/joanmouba/) - https://www.linkedin.com/in/joanmouba/

Web: [https://epignosiscenter.com](https://epignosiscenter.com)

Courriel: joan.mouba@epignosiscenter.com

Canal Youtube: [![YouTube](https://img.shields.io/youtube/channel/subscribers/UCjqWeYtZ82DBan-vhFzkTog)](https://www.youtube.com/channel/UCjqWeYtZ82DBan-vhFzkTog)

Répertoire GitHub:[![GitHub](https://img.shields.io/badge/GitHub-100000?style=for-the-badge&style=social&logo=github&logoColor=white)](https://github.com/JoanMouba)  

Merci de me laisser un avis sur Google: [Je laisse mon avis sur la formation](https://g.page/r/CRFbaxcVvqo9EAI/review)

Dernière mise à jour: 25.12.2023 par [Joan Mouba]

## Installer Pandas
La commande pip permet d'installer des modules et des librairies Python non livrées dans l'installation standard.

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

## Importer la librairie (bibliothèque) Pandas
Un module est un fichier Python qui contient des définitions de fonctions, de variables et de classes prêtes à être réutiliser.
Une librairie est un ensemble de plusieurs modules.

In [ ]:
import pandas as pd

## Importer les donnees du fichier .csv dans un DataFrame

### Un data frame est une structure bidimensionnelle. Cela signifie que les données sont alignées de façon tabulaire en colonnes et en lignes. Le format de ces structures est comparable aux dictionnaires Python. Les valeurs sont en effet les Séries tandis que les clés sont les noms des colonnes. On peut toute proportion gardée comparer un DataFrame à une feuille excel avec des lignes et des colonnes.

df = pd.read_csv('donnees_2022_franck.csv', sep=',')

In [ ]:
# Code ici

## Afficher les données d'un DataFrame

1.  `print(df)`
2.  `df`

In [ ]:
# Code ici

In [ ]:
# Affiche les 2 premières lignes du DataFrame
# df.head(2)

In [ ]:
# Affiche les 2 dernières lignes du DataFrame
# df.tail(2)

In [ ]:
# Afficher la liste des colonnes
# df.columns

## Selectionner les colonnes d'un DataFrame

### La sélection des données seffectue à l'aide de l'opérateur `[]`

In [ ]:
# Récupérer les données de la colonne 'Revenus'
# df["Revenus"]

In [ ]:
# Lorqu'il n'y a pas d'espaces dans le nom de la colonne, une alternative
# df.Revenus

In [ ]:
# Emplacement de la colonne 'Revenus'
# df.columns.get_loc('Revenus')

In [ ]:
# Sélectionner plusieurs colonnes et sauvegarder dans une variable
# df_mois_revenus = df[["Mois", "Revenus"]]

In [ ]:
# df_mois_revenus

## Sélectionner les lignes d'un DataFrame

Sélectionner les 3 premières lignes, même logique de slicing que les listes
```
print( df[0:3])

print('Alternative')
df[:3]
```

In [ ]:
# code ici

Sélectionner les 5 dernières lignes

In [ ]:
# Code ici

In [ ]:
# Sélectionner une ligne spécifique à partir de l'index
# df.iloc[2]

## Sélectionner des lignes et des colonnes dans un DataFrame

Sélectionner les lignes d'index 1, 2 de la colonne Dépenses

`df[1:3]['Depenses']`

In [ ]:
# Code ici

In [ ]:
# Sélectionner des cellules avec la fonction 'at[]'
# df.at[5, 'Revenus']

## Filtrer les données à l'aide de booléens (`True`, `False`)

In [ ]:
# Les dépenses supérieures à 3000 euros
# df.Depenses > 3000

In [ ]:
# DataFramce ayant des dépenses supérieures à 3000 euros
# df[ df.Depenses>3000]

## Combiner les conditions ET (&), OU (|)
Filter oùles Revenus et Dpenses supérieurs à 3000 euros
`rev_et_dep_sup_3000 = (df["Revenus"]>3000) & (df.Depenses>3000)`

`rev_et_dep_sup_3000`

In [ ]:
# Code ici

In [ ]:
# df[rev_et_dep_sup_3000]

Filter où les Revenus OU Dpenses supérieurs à limite euros
`limite = 4000`

`rev_ou_dep_sup_limite = (df["Revenus"]>limite) | (df.Depenses>limite)`

`rev_ou_dep_sup_limite`

In [ ]:
# code ici

In [ ]:
# df[rev_ou_dep_sup_limite]

## Renommer les colonnes

In [ ]:
# Afficher les colonnes
# df.columns

In [ ]:
# Renommer les colonnes

# df_avec_cols_renommee = df.rename(columns={'Revenus':'Revenus_annuels', 'Depenses':'Depenses_annuelles' })
# df_avec_cols_renommee.head()

In [ ]:
# Certaines fonctions ne change pas le DataFrame initial (en entrée)
# df.head()

In [ ]:
#df.rename(columns={'Revenus':'Revenus_annuels',
#                   'Depenses':'Depenses_annuelles'
#                   },
#          inplace=True
#          )
#df.head()

## Ajouter des colonnes

In [ ]:
# Faire une copie

#df_copie = df.copy() # pour conserver l'original, bonne pratique
#print(id(df), '', id(df_copie))

In [ ]:
# df_copie.head()

In [ ]:
# Rajouter une colonne 'Bonus_annuels' correspondant à 3% des revenus

#df_copie["Bonus"] = df_copie.Revenus_annuels * 0.03

#df_copie.head()

In [ ]:
# Rajouter la colonne 'Cash_flow_annuel' =  Revenus_annuels-Depenses_annuels
#df_copie["Cash_flow_annuel"] = df_copie.Revenus_annuels -df_copie.Depenses_annuelles

#df_copie.head()

## Supprimer colonne
Il y a différentes manières de supprimer une colonne:
1.  `del` supprimera simplement la
série du DataFrame
2.  `pop()` supprimera la série et retournera la série comme résultat (aussi in-place)
3.  `drop(labels, axis=1)` retournera une nouvelle DataFrame avec la ou les colonnes supprimées (l'objet DataFrame d'origine n'est pas modifié).

In [ ]:
# Supprimer la colonne 'Bonus'

#del df_copie['Bonus']
#df_copie.head()

## Créer un csv à partir du DataFrame
Transformer le DataFrame en csv

`df_copie.to_csv('donnee_2022_avec_cashflow.csv')`

In [ ]:
# Code ici

## Créer des graphiques

In [ ]:
# df.plot(kind='line', x='Mois', y='Revenus_annuels')

In [ ]:
# df_copie.plot(kind='bar', x='Mois', y=['Revenus_annuels', 'Depenses_annuelles'])

In [ ]:
# df.plot(kind='line', x='Mois', y='Revenus_annuels', title='Revenus par mois', ylabel='Euros', rot=30)

## Réindexation

In [ ]:
# df_copie.plot(kind='line', y='Revenus_annuels')

In [ ]:
# Réindexation
#df_copie.set_index('Mois', inplace=True)
#df_copie.head()

In [ ]:
# df_copie.plot(kind='line', y='Revenus_annuels')

In [ ]:
# Reset l'index
#df_copie.reset_index()
#df_copie.head()

## Statistiques sur DataFrame

In [ ]:
# Somme
#df_copie['Revenus_annuels'].sum()
#df_copie.head()

In [ ]:
#Ecart type
#df_copie['Revenus_annuels'].std()
#df_copie.std()

In [ ]:
#Median
#df_copie['Revenus_annuels'].median()
#df_copie.std()

In [ ]:
#Min, Max
#minimum = df_copie['Revenus_annuels'].min()
#maximum = df_copie['Revenus_annuels'].max()
#print(minimum, ' ', maximum)

In [ ]:
# Index du min et Max
#df_copie.set_index('Mois', inplace=True)
#df_copie.head()

In [ ]:
# Mois des dépenses maximum
#df_copie['Depenses_annuelles'].idxmax()

In [ ]:
# Mois des revenus minimum
#df_copie['Revenus_annuels'].idxmin()

In [ ]:
#print(df['Revenus_annuels'].count())
#print(df['Revenus_annuels'].unique())
#print(df['Revenus_annuels'].value_counts())

## Avoir des infos et statistiques globales sur le DataFrame

In [ ]:
# Avoir des infos
#df_copie.infos()

In [ ]:
# Avoir description
#df_copie.describe()