# **Apprendre Python en Créant une Application en Finances Personnelles**

Ce notebook est le notebook principal de la formation.
Il permet de dérouler le projet fil rouge de la formation qui consiste à créer une application en finances personnelles.

##### Instructeur: Joan Mouba, Dr.-Ing. en Informatique
L'utilisation de ce fichier est sous la license GPL.
Vous pouvez utiliser, modifier et redistribuer librement.

Nous serons reconnaissant si vous mentionnez l'auteur et/ou la référence source du Notebook:
[https://bit.ly/3skCdlO](https://colab.research.google.com/drive/1ajrZfkap-L-ZnXBkfKyQmSdi5tgBHZ-Z?usp=sharing)

LinkedIn: [![LinkedIn](https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&style=social&logo=linkedin&logoColor=white)](https://www.linkedin.com/in/joanmouba/) - https://www.linkedin.com/in/joanmouba/

Web: [https://epignosiscenter.com](https://epignosiscenter.com)

Courriel: joan.mouba@epignosiscenter.com

Canal Youtube: [![YouTube](https://img.shields.io/youtube/channel/subscribers/UCjqWeYtZ82DBan-vhFzkTog)](https://www.youtube.com/channel/UCjqWeYtZ82DBan-vhFzkTog)

Répertoire GitHub:[![GitHub](https://img.shields.io/badge/GitHub-100000?style=for-the-badge&style=social&logo=github&logoColor=white)](https://github.com/JoanMouba)  

Merci de me laisser un avis sur Google: [Je laisse mon avis sur la formation](https://g.page/r/CRFbaxcVvqo9EAI/review)

Dernière mise à jour: 05.12.2023 par [Joan Mouba](https://g.page/r/CRFbaxcVvqo9EAI/review)

## Agenda

### Programme


1.   L'environnement Google Colab (Notebooks)
2.   Présentation de la mission, projet fil rouge
3.   Afficher des informations (print)
4.   Accéder à l'aide Python
5.   Prendre des notes dans le code (commentaires)
6.   Gérer l'information (CRUD)
7.   Sauvegarder l'information (variables)
8.   Modifier l'information (expressions, opérateurs)
9.   Types de données de base (types natifs)
10.  Conversion des données de base
11.   Saisir l'information (input)
12.   Formater information (text)
13.   Mini-projet: Application Récapitulative
14.   Prendre des décisions (if .. else)
15.   Répéter des tâches (for, while)
16.   Types de données (texte, liste, tuples, ensembles, dictionnaires)
17.   Organiser et réutiliser votre code (fonctions)
18.   Réutiliser des fonctionnalités (Module)
19.   Module Pandas (Data analysis)
20.   Visualiser les informations (Graphiques)
21.   Bonus: Prochaines étapes

## 1. Environnement Google Colaboratory


*   Notebook
*   Utilisation et exécution des cellules textes
*   Utilisation et exécution des cellules de code
*   Déplacement et suppression des cellules
*   Importation de fichiers

#### Exercice
*   Créer et exécuter une cellule de code:
`print("Je suis content et motivé pour aller jusqu'au bout, et acquérir des nouvelles compétences en programmation")`

*   Créer et exécuter une cellule de texte:
"Bienvenue à la formation Python pour Débutants"

* Déplacer la cellule de texte au dessus de la cellule de code

* Passer la cellule de code comme sous-groupe de la cellule de code

* Exécuter toutes les cellules en une fois

##### Solution

###### Bienvenue à la formation Python

In [ ]:
# Votre solution ici

## 2. Présentation de la Mission et du contexte
**Le monde est en proie à une crise financière majeure**. Des experts financiers se réunissent à Londres.
Leur solution : **les particuliers doivent maîtriser leurs finances personnelles.**
Le comité décide de **déployer "Une application Python "**. Vous venez d'être embauché en tant que développeur Python. On vous a confié le poste et une prime de 10 000 euros. **C'est à vous de sauver le monde grâce à vos compétences en Python**.

### Exigences de l'application

* Les utilisateurs doivent être en mesure de saisir leurs informations par clavier.
* Les utilisateurs doivent pouvoir saisir leurs informations par fichier csv.
* L'application doit calculer le total des revenus par mois.
* L'application doit calculer les dépenses totales par mois.
* L'application doit calculer le cash-flow mensuel.
* L'application doit afficher l'information si l'utilisateur vit au-dessus de ses moyens ou non.
* *L'application doit afficher le ratio de chaque catégorie de dépenses*.
* L'application doit calculer de nombreux critères : taux d'endettement, taux d'épargne, catégorie de dettes...
**L'application doit donner des conseils en fonction de la situation de l'utilisateur**.
* L'application doit afficher des graphiques appropriés pour aider le processus de prise de décision (parts, classement, évolution, distribution, corrélation). Exemples de graphiques : histogrammes, lignes, camemberts, ....
* L'application doit enregistrer les résultats de l'analyse financière dans un fichier texte.
* Enfin, l'application doit donner une conclusion: Les finances personnelles de l'utilisateur sont-elles sous contrôle ?

### Catégories de revenus et de dépenses des ménages

References:

[Revenus des ménages - data.oecd.org](https://data.oecd.org/hha/household-disposable-income.htm)

[Dépenses des ménages - data.oecd.org](https://data.oecd.org/hha/household-spending.htm)

#### Catégories de revenus des ménages

* salaires et traitements
* travail indépendant
* pensions et autres prestations sociales
* revenus des placements financiers
* services divers.

#### Catégories de dépenses des ménages

* alimentation
* vêtements
* logement (loyer)
* énergie
* transport
* biens durables (notamment les voitures)
* frais de santé
* les loisirs
* services divers (coiffure, etc.)

## 3. Afficher de l'information

1.   La commande `print()` pour afficher des informations
2.   Les erreurs communes dans l'usage de `print()`

### Utilisation de la commande `print()`

```
print("Bonjour Monsieur Smith")
print(234)
print(645.86663)
print(23 + 5 * 4)
print(1_000_000)
```

In [ ]:
# Veuillez typer le code ci-dessus ici

Combiner l'affichage de plusieurs informations


```
print(2, 'kilos of tomatoes for', 3.54, '€')
```

In [ ]:
# Veuillez typer le code ci-dessus ici

#### Exercise
Utilisez le texte et des nombres (float, integer) pour afficher les phrases suivantes avec la commande `print()`:


*   Jacques a 23 ans (texte, entiers)
*   Il y a 775 200 mètres entre Paris et Marseille. (texte, entiers, réels)
*   Maria a dépensé 175.50 € en 3 jours pour 2 "sorties au restaurant" (text, entiers, réels)
*   Barack Obama a dit: "Yes, we can!" (text)

##### Solution

In [ ]:
# Veuillez typer et exécuter votre code solution ici
#

#### Exercice: Re-éditer le code suivant. Ensuite identifier et corriger les erreurs pendant l'exécution

```
print(Sophie a épargné, 4, euros)
print("L'héritage des enfants Karl est de, 2345878 $ (dollars))
print("L'été dernier, Marc a dit a Claire: "Je veux t'épouser" ")
printt("Vos investissements immobiliers ont rapporté", 20000, "euros")

```

In [ ]:
# Recommendation, exécuter chaque instruction dans une celle séparée

## 4. Accéder à l'aide Python


*   Aide en ligne avec la commande `help()`
*   Tutoriel Python: https://docs.python.org/fr/3/tutorial/
*   https://docs.python.org/fr/3/
*   Canal Youtube Epignosis Center: https://www.youtube.com/@epignosiscenter/videos

### help(print)

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
# print('Jean Blaise',        'Yilmaz', 'Miriam', 'Lee')
# print("Hello")

In [ ]:
# print('Jean Blaise', 'Yilmaz', 'Miriam', 'Lee', sep='#')
# print('Hello')

In [ ]:
# print('Jean Blaise', 'Yilmaz', 'Miriam', 'Lee', sep=' ##^', end='*\n')
# print('Hello', 'bonjour')

In [ ]:
help(help)

Help on _Helper in module _sitebuiltins object:

class _Helper(builtins.object)
 |  Define the builtin 'help'.
 |
 |  This is a wrapper around pydoc.help that provides a helpful message
 |  when 'help' is typed at the Python interactive prompt.
 |
 |  Calling help() at the Python prompt starts an interactive help session.
 |  Calling help(thing) prints help for the python object 'thing'.
 |
 |  Methods defined here:
 |
 |  __call__(self, *args, **kwds)
 |      Call self as a function.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

#### Exercice
*   Affichez l'aide Python sur la fonction `print`
*   Utilisez la  fonction `print()` avec ses options `sep` et `end` pour transformer la phrase à gauche de '-->' en celle de droite:

   Yenzi a dépensé 150 --> Yenzi--a--dépensé--150--$-

##### Solution
Votre solution

In [ ]:
# Veuillez entrer votre code solution ici

## 5. Prendre des notes dans le code
Pourquoi commenter le code ?

*   Pourquoi commenter le code?
*   Les 2 types de commentaires

### L'utilité des notes dans le code


*   Indiquer des informations périphériques: but du code, auteur, droits d'auteur, etc.
*   Donner des références


*   Préciser la compréhension d'une partie du code
*   Corriger son code

### Commentaire sur une ligne et multi-lignes

In [ ]:
""" Je suis un commentaire
qui s'étend sur "plusieurs
lignes de texte." J'ai pas de
problème avec les guillemets et les
apostrophes, vous l'avez remarqué?  """

# Identité du client
print("Client:", "Mr.", "Idrissa Smith" )
print("Epargne:", 6400, "euros")  # je suis aussi un commentaire sur une ligne
print("Dette:", 2300, 'euros')
print("Patrimoine:", 328_000, 'euros')  # simuler les milliers avec des "_"

Client: Mr. Idrissa Smith
Epargne: 6400 euros
Dette: 2300 euros
Patrimoine: 328000 euros

#### Exercice
À l'aide des fonctionnalités de commentaire.
Veuillez aider Mr Idrissa Smith à seulement afficher son identité, son patrimoine et ses dettes.


```
""" Je suis un commentaire
qui s'étend sur "plusieurs
lignes de texte." J'ai pas de
problème avec les guillemets et les
apostrophes, vous l'avez remarqué?  """

# Identité du client
print("Client:", "Mr.", "Idrissa Smith" )
print("Epargne:", 6400, "euros")  # je suis aussi un commentaire sur une ligne
# print("Dette:", 2300, 'euros')
# print("Patrimoine:", 328_000, 'euros')  # simuler les milliers avec des "_"
```

##### Solution

In [ ]:
# Veuiller entrer votre code solution ici

Client: Mr. Idrissa Smith
Dette: 2600 euros
Patrimoine: 328000 euros

## 6. Gérer l'information


*  CRUD: Create, Read, Update, Delete
*  Transformer l'information avec des opérateurs numériques

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [ ]:
# pow(2, 3)

#### Créer des nouvelles informations utiles par calcul

#### Editer le code suivant


```
print("Addition: 30 + 20 =", 30 + 20)
print("Soustraction: 30 - 20 =", 30 - 20)
print("Multiplication: 30 * 20 =", 30 * 20)
print("Division: 30 / 20 =", 30 / 20)
print("Division entière: 30 // 20 =", 30 // 20)
print("Modulo: 30 % 20 =", 30 % 20)
print("Puissance: 30 ** 3 =", 30**3)

```

In [ ]:
# Votre code édité ici

#### Précédence des opérations
Acronyme: PEMMDAS
1. Parenthèses
2. Exposant (puissance)
3. Multiplication-Modulo-Division (normale et entière)
4. Addition-Soustraction

In [ ]:
# Quel serait le résultat de l'expression suivante?
# 2 + (4 + 7) + 2**3 - 5
# Calculez manuellement, et ensuite par une ligne de code Python
# Avez-vous le même résultat? commentez

#### Exercice
Madeleine a fait les courses suivantes cette semaine:
*   3 baguettes: 3.60 euros
*   Barquette de poisson: 6.20 euros
*   1 boîte de mais bio: 1.70 euros
*   1 sachet de fromage Emmental: 2.30 euros
*   1 paquet de pâtes nature: 2.00 euros
*   1 bouteille d'huile d'olive: 6.00 euros
*   500 g de tomates: 1.57 euros
*   1 paire de chaussettes: 3.5 euros


Affichez le calcul et la somme de ses dépenses dans une seule commande avec `print()`

##### Solution

In [ ]:
# Votre solution ici

## 7. Sauvegarder l'information (Variables)


*   Qu'est-ce qu'une variable ?
*   Comment nommer une variable ?

In [ ]:
# Une variable est un emplacement mémoire ayant un nom symbolique.
# Une variable est semblable à une boîte contenant une valeur à l'intérieur
# La valeur d'une variable peut être manipuler à partir de son nom symbolique
# Le nom symbolique devient un alias, le représentant de sa valeur
# On peut effecture les opérations CRUD sur une variable
# Rappel: CRUD - Create, Read, Update, Delete



```
# Créer des variables
salaire_mensuel_en_euro = 2000
prix_telephone_en_euro = 125.49
nom_client = "Selma Ben Massoud"
adresse_client = "16 Rue l'Abbé Pierre, Cotonou, Bénin"

```

In [ ]:
# Créer et afficher les variables ci-dessus

### Règles pour nommer une variable


*   Un nom simple, compact, significatif et descriptif
*   Ne contient que des lettres, des chiffres et des sous-tirets
*   Ne pas commencer par un chiffre
*   Ne contient pas de caractères spéciaux
*   Recommandé: en minuscule, séparer les mots avec sous-tirets

#### Exercice
Ben est un informaticien passionné par les finances personnelles. À côté de son emploi, il développe des projets personnels. Il donne des cours d'informatique, investit en bourse et dans l'immobilier. Il developpe un programme Python pour l'aider à gérer ses finances. Aidez Ben à trouver des variables pour les revenus suivants:

*   Les revenus du travail (6640 euros)
*   Les bénéfices de ses projets d'entreprises (12 450 euros)
*   Les revenus du capital (1328 euros)
*   Les revenus des placements financiers (547.75 euros)
*   Les revenus des loyers (32000 euros)

##### Solution
Proposition

In [ ]:
# Veuiller entrer votre code solution ici
# Ces montants sont en Euro

## 8. Modifier de l'information
Rappel: Que peut-on faire avec des données?
Acronyme CRUD:
*   Create (créer)
*   Read (lire)
*   Update (mettre à jour)
*   Delete (supprimer)

In [ ]:
# Mamadou dépense 70 euros lundi pour acheter un ventilateur,
# 1. Créez une variable "depenses_semaine_en_euro"
# 2. Afficher la valeur de cette variable

 # votre code ici

# Mardi, il dépense 43.50 euros pour des courses alimentaires
# Mettez à jour et affichez la variable "depenses_semaine_en_euro"

# votre code ici

# Que constatez-vous ?

#### Exercice
Ben a aussi des dépenses. Aidez bien à réaliser les exercices suivants avec son programme Python:
*   Faire la somme de ses revenus définis dans l'exercice précédent
*   Sauvegarder la somme de ses revenus dans une variable appropriée
*   Trouver ses noms de variables pour ses dépenses
*   Sauvegarder la somme de ses dépenses dans une variable appropriée
*   Faire la différences entre la somme des revenus et la somme des dépenses
*   Sauvegarder cette différence dans la variable `cash_flow`
*   Imprimer la somme des revenus, la somme des dépenses et le cash-flow


Voici les dépenses de Ben:
*   Loyer (1200 euros)
*   Investissement en bourse (400 euros)
*   Investissement immobilier (2600 euros)
*   Transport et voitures (900 euros)
*   Scolarite des enfants (500 euros)
*   Nourriture (600 euros)

##### Proposition de solution

In [ ]:
# votre code solution ici
# Revenus de Ben
# Dépenses de Ben
# Somme de ses dépenses
# Calcul du cash flow
# imprimer les résultats nécessaires

### Les Opérateurs
Notebook opérateurs:
https://colab.research.google.com/drive/1ajrZfkap-L-ZnXBkfKyQmSdi5tgBHZ-Z#scrollTo=bh4I6d4Hlnwk

## 9. Types de données

fonction type()

#### Types de données de base
*   texte: string (str)
*   entiers: integer (int)
*   réels: flottants (float)
*   booléens: True ou False (bool)

In [ ]:
# Veuillez exécuter le code
# Que constatez-vous ?

# print( type('Albert Kone') )
# print( type(347) )
# print( type(9454.78))
# print( type(True))
# print( type(False))

#### Exercice
Définissez les variables suivantes et déterminez leur type avec la fonction `type()`:


*   revenu_brut_exploitation = 34_567.67
*   metier = 'peintre professionnel'
*   estEndette = True
*   possedeEpargne = False
*   nombre_enfants = 2

##### Solution

In [ ]:
# votre code solution ici
# imprimez les types

#### Types de données composés
*   liste: list()
*   tuple: tuple()
*   ensemble: set()
*   dictionnaire: dict()
*   fichier: file

##### Liste

In [ ]:
# Definition d'une liste
# corbeille_de_choses = ['mangue', 343, 456.89, 'casque', 89, 9000.01]
# afficher la variable
# afficher son type

In [ ]:
# Accéder aux éléments aux indices 0, 2:4, -1, -2:,  et affichez-les

##### Tuple

In [ ]:
# Definition d'un tuple
# corbeille_diversifiee = ('mangue', 343, 456.89, 'casque', 89, 9000.01)
# afficher la variable
# afficher son type

In [ ]:
# Accéder aux éléments aux indices 0, 2:4, -1, -2:,  et affichez-les

##### Set

In [ ]:
# Definition d'un ensemble (set)
# niveaux = {1, 2, 3, 4, 5}
# afficher la variable
# afficher son type

In [ ]:
# Accéder aux éléments de l'ensemble aux indices 0, 2:4, -1, -2:,  et affichez-les

##### Dict

In [ ]:
# Definition d'un dictionnaire (dict)
# client = { 'nom': 'Louis Blanc', 'age':43, 'salaire':4432.50, 'epargne': 21563.43 }
# afficher la variable
# afficher son type

In [ ]:
# client['nom']
# client['epargne']

##### Fichier

In [ ]:
#with open('cas_de_test.txt', 'w') as f:
#    f.write('Etapes\n')
#    f.write('1. Ouvrir un fichier avec un éditeur de texte\n')
#    f.write('2. Ecrire 2 lignes de texte\n')
#    f.write('3. Sauvegarder le fichier sous un autre nom\n')
#    f.write('4. Vérifier le fichier sauvegardé\n')

##### Chaînes de caractère:String

In [ ]:
salutation = "Bonjour"

In [ ]:
# Accéder aux éléments aux indices 0, 2:4, -1, -2:,  et affichez-les

#### Autres type de données
*   bytes, bytearray, memoryview
*   frozentset
*   function, module, class
*   etc.
Voir documentation Python

### 10. Conversion des données de base
Pourquoi? Il est parfois nécessaire dans un programme de convertir des données d'un type en un autre


*   int(x)    -- convertit x en nombre entier
*   float(x)  -- convertit x en nombre décimal
*   str()     -- convertit x en chaîne de caractères
*   eval(str) -- evalue la chaîne de caractères et renvoie un objet
*   complex(reel [,imag])   -- crée un nombre complex

In [ ]:
# Executer le code ci-dessus

# age = '23.56'
# print( type(age))

<class 'str'>

In [ ]:
# 12 + float(age)

In [ ]:
# x = 12.34
# y = int(x)

# print(y)

In [ ]:
# u = 34
# v = float(u)

# print(v)

## 11. Saisir l'information
Pourquoi saisir l'information?
La fonction `input()`

In [ ]:
# salaire_mensuel = float(input('Quel est votre salaire?'))

# salaire_mensuel = float(salaire_mensuel)

# salaire_annuel = salaire_mensuel * 12

# print(salaire_mensuel, salaire_annuel)

## 12. Formatage des affichages
Le formatage est utilisé pour rendre l'affichage attractif.


*   Classique
*   Formatage
*   F-Strings

In [ ]:
produit = "ordinateur_Asus"
prix = 1100

In [ ]:
# print("L'", produit, "coûte", prix, "Euros")

In [ ]:
# print(f" L'{produit} coûte {prix} Euros")

 L'ordinateur_Asus coûte 1100 Euros

In [ ]:
# print("L'{0} coûte {1} Euros".format(produit, prix))

L'ordinateur_Asus coûte 1100 Euros

In [ ]:
# proprix = ("ACER Ordi", 3453)
# print("L'{0} coûte {1} Euros".format( *proprix ))

In [ ]:
# print("L'%s coûte %d Euros"%(produit, prix))

In [ ]:
# print("L'{} coûte {} euros".format(produit, prix))
# print(f"L'{produit} coûte {prix} euros")
# print("L'%s coûte %s euros" % (produit, prix))

### Les symboles interprété par Python

#### Symboles de formatage


*   %c  -- caractère
*   %s  -- chaîne de caractères
*   %d  -- décimal

#### Les symbole d'espaces

*   \n  -- retour à la ligne
*   \t  -- tabulation

#### Caractères à échapper avec un anti-slash \

*   \\"   --> "
*   \\'   --> '

## 13. Mini-projet: Application récapitulative 1
Traitons des informations relatives à la situation financière de la famille de M. Alex Cargot.
Marié et père de 2 enfants: Claude (12 ans), Emma (8 ans).
Il habite le quartier de Puteaux, à 20 Minutes à pieds de son lieu de travail à la Défense.
Il travaille à HorizonsTech comme Data Analyste. Son épouse Elisa est agent administratif à la mairie de Puteaux.
Pour analyser leur situation financière, nous avons besoin de sauvegarder leurs différents revenus et leurs différentes dépenses dans des variables de notre programme. Car par la suite, nous ferons des opérations avec ces valeurs, que nous assignerons à d'autres variables.

#### Revenus et Dépenses
![Revenus_et_depenses.png]()

#### Mission


*   Veuillez créer une variable pour chaque revenu
*   Veuillez créer une variable pour chaque dépense
*   Veuiller créer une variable `total_revenus` à laquelle vous assignerez la somme des revenus
*   Veuillz créer une variable `total_depenses` à laquelle vous assigneret la somme des dépenses
*   Veuillez créer une variable `cash_flow` à laquelle vous assignerez la différence entre le total des revenus et le total des dépenses
*   Affichez les variables `total_revenus`, `total_depenses`, `cash_flow`

##### Solution

In [ ]:
# Coder votre code solution ici

## 14. Prendre des décisions
```
if condition1:
   instructions1
elif condition2:
    instructions2
else:
   instructions3
```

#### Instruction de décision

In [ ]:
#cash_flow = 500.08798798

#if cash_flow <= 0:
#    print("Vous vivez sur le fil, réduisez votre train de vie")

#elif cash_flow > 500:
#    print(f"vous pouvez épargner 30% de votre cash flow, soit {cash_flow * 0.3:.2f}")

#elif cash_flow > 200:
#    print(f"vous pouvez épargner 20% de votre cash flow, soit {cash_flow * 0.2:.2f}")
#else:
#    print("Vous vivez avec vos moyens. C'est bien, pensez à épargner chaque mois")

#### L'indentation
Permet de groupe des blocs d'instructions

Les erreurs communes à l'indentation

#### Erreurs communes avec l'instruction if..elif..else..

#### Exercice
Veuillez vérifier si le loyer ne dépasse pas les 30% des salaires.
Renvoyer une réponse compréhensible selon le résultat:


*   Si le montant du loyer est inférieur ou égal à 30% des salaires, loyer dans les normes
*   Si le montant du loyer est supérieur à 30% des salaires trop élevé
*   Si le montant du loyer est inférieur à 20% des salaires. Bon loyer

##### Solution

In [ ]:
# Votre code solution ici

## 15. Répéter des tâches avec des boucles

### Boucle for

In [ ]:
#VILLES = ['Paris', 'Munich', 'New york', 'Casablanca', 'New Dehli']
#for ville in VILLES:
#    print(ville)

### fonction range()

In [ ]:
# help(range)

In [ ]:
#for compteur in range(10):
#    print(compteur)
#

In [ ]:
#for compteur in range(2,10):
#    print(compteur)
#

In [ ]:
#for compteur in range(2,10,3):
#    print(compteur)
#

#### Exercice
1.   Créez un intervalle (range) de 100 à 160 avec des pas de 10.
2.   Imprimez-la ensuite sous forme de liste.

In [ ]:
# Editer votre solution ici

### Boucle while

In [ ]:
#nb_tests = 20
#while nb_tests > 0:
#    print('il reste', nb_tests)
#    nb_tests -=1

#print("Tous les tests exécutés")

### Contrôle des boucles
 break, continue, pass

#### Exercice


1.   Faites des recherches sur l'utilisation de `break`, et produisez un exemple
2.   Faites des recherches sur l'utilisation de `continue`, et produisez un exemple
3.   Faites des recherches sur l'utilisation de `pass`, et produisez un exemple

In [ ]:
# Editez votre solution ici

### Boucles infinies

In [ ]:
#nb_tests = 20
#while nb_tests > 0:
#    print('il reste toujours des tests')
#print("on n'arrivera jamais ici")

## 16. Types de données approfondies

#### Etudier les fonctionnalités des listes

#### Etudier les fonctionnalités des tuples

#### Etudier les fonctionnalités des set

#### Etudier les fonctionnalités des dict

#### Etudier les fonctionnalités des dictionnaires

#### Etudier les fonctionnalités des fichiers

## 17. Fonctions (Organiser son code)
Les fonctions permettent de réutiliser des fonctionnalités du code


```
def nom_fonction(argument1, argument2=valeur):
   instructions
   return resultat  # optionnel
```

In [ ]:
# Calculer le salaire annuel
#def calcul_salaire_annuel(salaire_mensuel, bonus=0):
#    salaire_annuel = salaire_mensuel * 12 + bonus
#    return salaire_annuel

In [ ]:
#salaire_mensuel_James = 2762.45
#salaire_annuel_James = calcul_salaire_annuel(salaire_mensuel_James, 100)
#print(f"Salaire annuel de James: {salaire_annuel_James:.2f} euros")

In [ ]:
#print( calcul_salaire_annuel(6555, 1500) )

#### Exercice
1. Ecrivez une fonction qui calcule le cash_flow de la famille Cargot à partir du total des revenus et du total des dépenses. La fonction contient un renvoi (return) de la valeur du cash_flow calculé
2. Vérifiez que vous obtenez le même résultat que dans le mini-projet

#### Exercice 2: Calcul du ratio d'endettement
1. Ecrivez une fonction qui calcule le ratio d'endettement de la famille Cargot à partir de leurs revenus mensuels et leurs remboursements de crédits mensuel. Formule du ratio:
**Ratio_endettement = Remboursements_dette x 100 / Revenus**
2. Comme résultat envoyer:
Vérifiez que vous obtenez le même résultat que dans

*   0< taux_endettement <= 30%, endettement normal
*   30 < taux_endettement <= 40%, très endetté
*   taux_endettement > 40%, en faillite

In [ ]:
# Votre code solution ici

## 18. Modules

*   Module math
*   Module random
*   Module pandas

### Module `math`

In [ ]:
# Importer le module pour l'utiliser
import math

In [ ]:
# Voir les fonctionnalités d'un module
print( dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [ ]:
# Type et aide sur une fonction
# type(math.sqrt)
# type(math.pi)

In [ ]:
# help(math.sqrt)

In [ ]:
# Utiliser des fonctions ou propriétés d'un module
#nombre = 225
#racine_carree_nombre = math.sqrt(nombre)
#print(racine_carree_nombre)

#### Exercice
Ecrire une fonction pour calculer la surface d'un cercle de rayon R = 35 cm
Formule: `2*pi*R*R`
*   Définissez une variable `rayon_cm`
*   Sauvegarder la surface dans la variable `aire_cercle_cm2`
*   Afficher le périmètre par une phrase agréable à l'utilisateur, du genre, "La surface du cercle est 455 cm2"

##### Solution

In [ ]:
# votre code solution ici

### Module `random`

#### Notebook pour étude du module random

Veuillez accéder à ce notebook:
https://colab.research.google.com/drive/1dsPzzGZGy3ghquXINoCOda8tnf1CsEWP?usp=sharing

#### Générer des données aléatoires avec le module random

In [ ]:
import random as rd
dir(rd);

Générer des valeurs entières pour les revenus (en EURO)

In [ ]:
#salaires = rd.randint(900, 7000)
#revenus_immo =  rd.randint(0, 600)
#revenus_bourse =  rd.randint(0, 300)
#revenus_dividendes =  rd.randint(0, 300)
#revenus_epargne =  rd.randint(0, 1000)

Générer des valeurs entières pour les dépenses (en EURO)

In [ ]:
#logement =  rd.randint(500, 2000)
#nourriture =  rd.randint(200, 700)
#transport =  rd.randint(40, 200)
#voitures =  rd.randint(0, 700)
#sante =  rd.randint(1200, 7000)
#energie =  rd.randint(200, 600)
#assurance =  rd.randint(100, 700)
#remboursement_credits =  rd.randint(0, 2500)
#loisirs =  rd.randint(10, 700)

### Autres représentations des données
Listes et Dictionnaires

#### Représenter des données en Listes
Ensemble ordonné d'éléments de tout type.
Des données entre des crochets séparés par une virgule

In [ ]:
# Définir une liste contenant les revenus
#revenus_lst = [salaires, revenus_immo, revenus_bourse, revenus_dividendes]

#print(revenus_lst)

In [ ]:
# Accéder à un élément de la liste par l'indice
#print(revenus_lst[2])

In [ ]:
# Rajouter un élément à la fin
#revenus_lst.append(revenus_epargne)
#print(revenus_lst)

In [ ]:
# Somme des revenus
#revenus_total_lst = sum(revenus_lst)
#print(revenus_total_lst)

#### Représenter les données en Dictionnaires
Ensemble non ordonnée de couple (clé, valeur)

Générer des valeurs entières pour les revenus (en EURO), et sauvegardez-les dans un dictionnaire

In [ ]:
# Code ici

Générer des valeurs entières pour les dépenses (en EURO), et sauvegardez-les dans un dictionnaire

In [ ]:
# Code ici

#### Calculer le cash_flow à partir des dictionnaires de revenus et de dépenses

In [ ]:
#total_revenus =  # somme des revenus
#total_depenses = # somme des dépenses
#cash_flow = total_revenus - total_depenses

#### Rajouter des revenus et des dépenses, et recalculer le cas_flow

In [ ]:
# Code ici

## 19. Module Pandas
Documentation : https://pandas.pydata.org/docs/

In [ ]:
import pandas as pd

In [ ]:
# Données à visualiser
revenus_total_lst = [1234, 334, 5566]
depenses_total_lst = [345, 445, 33]

data_janv_2023 = {
    'revenus': revenus_total_lst,
    'depenses': depenses_total_lst
}

data_janv_2023

{'revenus': [1234, 334, 5566], 'depenses': [345, 445, 33]}

In [ ]:
# Créer le dataframe à partir du dictionnaire
pd.DataFrame.from_dict(data_janv_2023)

   revenus  depenses
0     1234       345
1      334       445
2     5566        33

## 20. Visualiser

In [ ]:
#data_2022 = {'Janv': [2345, 2500],
#             'Fev': [1723, 2420],
#             'Mars': [4890, 2835],
#             'Avril': [784, 1977],
#             'Mai': [5436, 3121],
#             'Juin': [5400, 2978]
#             }

#df_2022 = pd.DataFrame.from_dict(data_2022, orient='index', columns=['Revenus', 'Depenses'])
#df_2022

In [ ]:
# Rajouter la colonne Cash Flow
#df_2022['Cash_flow'] = df_2022['Revenus'] - df_2022['Depenses']
#df_2022

In [ ]:
# df_2022.plot(kind='bar', y=['Revenus', 'Depenses', 'Cash_flow'], rot=30, stacked=True, figsize=(10, 6), fontsize='large')

In [ ]:
# Evolution des revenus
# df_2022[['Revenus', 'Depenses']].plot(kind='line', figsize=(10, 6))

#### Fichiers CSV

In [ ]:
# Lire le fichier de donnees csv avec pandas
# df_franck_2022 = pd.read_csv('donnees_2022_franck.csv')

# df_franck_2022

#### Exercice
Faire un diagramme en bâtons montrant l'évolution des revenus, dépenses et cash_flow de Franck par mois

#### Solution

In [ ]:
# Votre code solution ici

## 21. Prochaines Étapes



*   Programmation orientée objet avec Python
*   Concepts avancés avec Python